# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fullstackninja864 @lykalabrada @pierregee
/.husky/                                        @fullstackninja864 @lykalabrada @pierregee

/src/                                           @fullstackninja864 @lykalabrada @pierregee
/cypress/                                       @fullstackninja864 @lykalabrada @pierregee

/src/styles/                                    @fullstackninja864 @lykalabrada @pierregee
postcss.config.js                               @fullstackninja864 @lykalabrada @pierregee
tailwind.config.js                              @fullstackninja864 @lykalabrada @pierregee

/public/                                        @fullstackninja864 @lykalabrada @pierregee

next.config.js                                  @fullstackninja864 @lykalabrada @pierregee
package.json                                    @fullstackninja864 @lykalabrada @pierregee
package-lock.json                               @fullstackninja864 @lykalabrada @pierregee
tsconfig.json                                   @fullstackninja864 @lykalabrada @pierregee

CONTRIBUTING.md                                 @fullstackninja864 @lykalabrada @pierregee
README.md                                       @fullstackninja864 @lykalabrada @pierregee
LICENSE                                         @fullstackninja864 @lykalabrada @pierregee
