{
  "parserOptions": {
    "project": "./cypress/tsconfig.json"
  },
  "plugins": ["prettier"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "plugin:cypress/recommended"
  ],
  "ignorePatterns": ["**/plugins/*.ts", "**/support/*.ts"]
}
